/***********************Fuentes*************************/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Iceland&display=swap');
/*******************************************************/

.fon_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Iceland', cursive;
    font-size: 30px;
    /*border-radius: 9px;
    border-color: rgb(87, 78, 78);
    border-style: inset;*/
    background-color: rgb(38, 38, 38);
}

nav:hover a{
    filter: blur(5px);
    transition: .8s;
}

nav a:hover{
    filter: blur(0px);
    transition: .8s;
}

.Menu {
    color: rgb(248, 248, 248);
    margin: 5px;
    text-decoration: none;
    text-align: justify;
    font-size: 2.5vw;

}

/****************************Hamburger button*****************************/
.navbar-toggler{
	width: 30px;
	height:30px;
	position: relative;
    transition: .5s ease-in-out;
	cursor:pointer;
    font-size: small;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    font-size: small;
    outline: none;
    border: 0;
    box-shadow: 0;
}

.navbar-toggler span{
    margin: 0 0 0 -8px;
    padding: 0;   
}

.toggler-icon{
    display:block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(30deg, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
    border-radius: 2px;
    opacity: 10;
    left: 20px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar{
    margin-top: 0;
}

.navbar-toggler .top-bar{
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    margin-top: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar{
    margin-top: -8px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 8px;
    transform: rotate(0deg);
}

/***************************FORMULARIO**************************************************/

.escribime {
    font-family: 'Goldman', cursive;
    color: rgb(151, 151, 149);
    font-size: 4vw;
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 3vw;
}

.formulario {
    font-family: 'Iceland', cursive;
    color: rgb(248, 248, 248);
    position: relative;
    width: 35vw;
    margin-left: 8vw;
}

label {
    position: absolute;
    left: 10px;
    top: 6px;
    transition: all 0.5s;
    padding: 0px 2px;
    z-index: 1;
    color: #7e4ccb;
    font-size: 20px;
}

.text-input {
    position: relative;
    padding: 12px;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: #7e4ccb;
    background-color: transparent;
    outline: none;
    transition: all 0.5s;
    font-family: 'Iceland', cursive;
    color: rgb(248, 248, 248);
    font-size: 15px;
}

label::before {
    content: "";
    height: 5px;
    background-color: transparent;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    z-index: -10;
}

.text-input:focus+label {
    top: -10px;
    color: #7e4ccb;
    font-size: 14px;
    background-color: black;
}

.text-input:not(:placeholder-shown)+label {
    top: -10px;
    color: #7e4ccb;
    font-size: 14px;
    background-color: black;
}

.text-input:focus {
    border: 2px solid #7e4ccb;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

label {
    text-align: left;
}

.form_x_container {
    position: absolute;
    width: 52%;
    height: 85%;
    max-width: 92%;
    max-height: 120%;
    border-radius: 2.08vw .26vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.form_x_container::before {
    position: absolute;
    width: 250%;
    height: 250%;
    content: "";
    background-image: conic-gradient(transparent, transparent, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
    animation: rotate_border 4s linear infinite;
    animation-delay: -10s;
}

.form_x_container::after {
    position: absolute;
    width: 250%;
    height: 250%;
    content: "";
    background-image: conic-gradient(transparent, transparent, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
    animation: rotate_border 4s linear infinite;
    animation-delay: -10s;
}

@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form_x {
    position: absolute;
    content: "";
    background-color: black;
    border-radius: 2.08vw .26vw;
    z-index: 2;
    inset: -1px;
    margin: 5px 5px 5px 5px;
    padding: 18px 18px 5px 16px;
    overflow-y: auto;
}

.form_x::-webkit-scrollbar{
    width: 8px;
    background: rgba(128, 128, 128, 0);
}

.form_x::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.351);
    border-radius: 8px;

}

.form_x::-webkit-scrollbar-button{
    background-color: rgba(128, 128, 128, 0);

}

/*************************Boton de envio****************************/

button {
    position: relative;
    display: block;
    z-index: 3;
    padding: 1vw 4vw;
    /*background-color: rgb(106, 11, 90);*/
    color: white;
    transform-style: preserve-3d;
    
}

.button-wrapper {
    position: absolute;
    border: 0;
    border-radius: 10px;
    font-family: 'Iceland', cursive;
    font-size: 1.5rem;
    perspective: 400px;
    align-self: flex-start;
    /*margin-top: 250px;
    margin-left: -100px;*/
    background: linear-gradient(30deg, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
}

#botonMovable {
    position: absolute; /*absolute*/
    left: 70%;
    top: 70%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
    /*margin-top: 8rem; 
    margin-left: 7.21rem;*/
    z-index: 200;
}


/*******************************************************************/