/***********************Fuentes*************************/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Iceland&display=swap');

/**********************************INDEX*****************************************/

:root {
    --hue: 0;
}

@property --hue {
    syntax: "<angle>";
    initial-value: 500deg;
    inherits: false;
}

.titulo {
    font-family: 'Russo One', sans-serif;
    -webkit-text-stroke: 3px rgb(140, 59, 247);
    -webkit-text-fill-color: black;
    filter: hue-rotate(var(--hue));
    animation: hue 2s linear infinite;
    font-size: 8vw;
}

@keyframes hue {
    to {
        --hue: 360deg;
    }
}

.subtitulo {
    font-family: 'Russo One', sans-serif;
    color: rgba(151, 151, 149, 0.321);
    font-size: 19vw;
}

.fon_nav_index {
    position: relative;
    display:flex;
    align-items:start;
    height: 10vw;
    flex-direction: column;
    z-index: 5;
}

.menu_index {
    list-style: none;
    background-color: rgb(38, 38, 38);
}

.menu_index .item_lista {
    height: 40px;
    width: 40px;
    margin: 5px 0;
    padding: 2px;

}

.item_lista a span {
    width: 0;
    left: 3vw;
    padding: 0;
    position: absolute;
    overflow: hidden;
    font-family: 'Iceland', cursive;
    color: #dfe2ec;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.6;
    white-space: nowrap;
    line-height: 1vw;
    transition: 0.5s;
}

.item_lista a {
    width: 15vw;
    height: 4vw;
    display: block;
    text-decoration: none;
    position: absolute;
}

.item_lista a:hover span {
    width: 11vw;
    height: 3.4vw;
    margin-top: -0.5vw;
    margin-left: -0.4vw;
    padding-top: 0.8vw;
    padding-left: 1vw;
    overflow: visible;
    background-color: rgb(84, 83, 83);
}

.container_1 {
    position: relative;
}

.sub_tit {
    position: absolute;
    z-index: 1;
    margin-top: 22vw;
    margin-left: 1vw;
}

.tit {
    position: absolute;
    z-index: 5;
    margin-top: 2vw;
    margin-left: 25vw;
}

/**********************************NAVEGADOR*****************************************/

.p1 {
    font-family: 'Goldman', cursive;
    color: rgb(113, 105, 105);
    text-align: right;
    font-size: 0.5em;
}

.p2 {
    font-family: 'Goldman', cursive;
    color: rgb(248, 248, 248);
    text-align: left;
    font-size: 1em;
}

.fon_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Iceland', cursive;
    font-size: 30px;
    /*border-radius: 9px;
    border-color: rgb(87, 78, 78);
    border-style: inset;*/
    background-color: rgb(38, 38, 38);
}

nav:hover a{
    filter: blur(5px);
    transition: .8s;
}

nav a:hover{
    filter: blur(0px);
    transition: .8s;
}

.Menu {
    color: rgb(248, 248, 248);
    margin: 5px;
    text-decoration: none;
    text-align: justify;
    font-size: 2vw;

}

.fon_footer {
    position: relative;
    font-size: 1.5vw;
    margin-top: 25vw;
    padding: 10px 20px;
    background-color: rgba(50, 37, 71, 0.515);
}





/*******************************************************************/
