/***********************Fuentes*************************/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Iceland&display=swap');
/*******************************************************/

.fon_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Iceland', cursive;
    font-size: 30px;
    background-color: rgb(38, 38, 38);
}

nav:hover a {
    filter: blur(5px);
    transition: .8s;
}

nav a:hover {
    filter: blur(0px);
    transition: .8s;
}

.Menu {
    color: rgb(248, 248, 248);
    margin: 5px;
    text-decoration: none;
    text-align: justify;
    font-size: 2.5vw;

}

/****************************Hamburger button*****************************/
.navbar-toggler{
	width: 30px;
	height:30px;
	position: relative;
    transition: .5s ease-in-out;
	cursor:pointer;
    font-size: small;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    font-size: small;
    outline: none;
    border: 0;
    box-shadow: 0;
}

.navbar-toggler span{
    margin: 0 0 0 -8px;
    padding: 0;   
}

.toggler-icon{
    display:block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(30deg, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
    border-radius: 2px;
    opacity: 10;
    left: 20px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar{
    margin-top: 0;
}

.navbar-toggler .top-bar{
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    margin-top: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar{
    margin-top: -8px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 8px;
    transform: rotate(0deg);
}

/**********************PORTFOLIO**************************************/
.titulo {
    font-family: 'Iceland', cursive;
    color: rgb(248, 248, 248);
    font-size: 3.3vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 3vw;
    /*margin-left: 80px;*/
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    /*cursor: pointer;*/
    
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    gap: 10rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
}

.container_2 {
    gap: 10rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
}

#tarjeta {
    /*padding: 3px;*/
    box-shadow: 5px 5px 5px 0 rgba(163, 163, 163, 0.25);
    border-radius: 10px;
    background-color: gray;
    color: white;
    height: 0;
    min-height: 280px;
}

.front,
.back {
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0 rgba(163, 163, 163, 0.25);
    background-position: center;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    box-shadow: 0 0 10px solid blue;
    font-size: 1.3rem;
    height: auto;
    border-radius: 10px;
    color: #fff;

}

.back {
    /*background: #cedce7;*/
    background: -webkit-linear-gradient(45deg, rgb(0, 38, 255) rgb(106, 11, 90) 50%, 0%, rgb(215, 28, 84) 100%);
    background: -o-linear-gradient(45deg, rgb(0, 38, 255), rgb(106, 11, 90) 50%, rgb(215, 28, 84) 100%);
    background: linear-gradient(45deg, rgb(0, 38, 255), rgb(106, 11, 90) 50%, rgb(215, 28, 84) 100%);
    
}

/*
.back {
    -moz-transform:scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
   
}*/

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 10px;
    display: block;
    opacity: .5;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    font-family: 'Iceland', cursive;
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
/*
    -moz-transform:scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter:opacity(2);*/
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 2rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;

}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Iceland', cursive;
    /*font-family: 'Russo One', sans-serif;
    font-family: 'Montserrat'; */
    font-weight: 3000px;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

/**********************Boton de descarga******************************/

.card-buttons>ul li a {
    position: relative;
    display: block;
    flex-direction: row;
    padding: .3rem .5rem;/*5px 15px;*/
    /*padding: 10px;*/
    /*margin-left: 400px;*/
    /* margin: 4px 0;*/
    color: rgb(137, 137, 137);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 6px;
    letter-spacing: 2px;
    overflow: hidden;
    /* margin-right: 5px;*/
    font-size:1rem ;/*medium;*/
    font-family: 'Russo One', sans-serif;
}

.card-buttons a:link {
    text-decoration: none;
}

.card-buttons ul li a:hover {
    background-color: aqua;
    box-shadow: 0 0 5px aqua,
        0 0 25px aqua,
        0 0 50px aqua,
        0 0 200px aqua;
    -webkit-box-reflect: below 15px linear-gradient (transparent, aqua);
}

.card-buttons {
    font-family: 'Russo One', sans-serif;
    font-size: 1rem ;/*small;*/
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;/*agregado*/
}

.card-buttons>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-buttons>ul li {
    display: inline-block;
    margin: 0 10px;
}

.card-buttons > ul li a:hover::before {
    position: absolute;
    background-color:aqua;
    box-shadow: 0 0 5px aqua,
        0 0 25px aqua,
        0 0 50px aqua,
        0 0 200px aqua;
    -webkit-box-reflect: below 15px linear-gradient (transparent, aqua);
    content: "";
    animation: chitchat 1.8s linear both;
}

@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}

/****************************Marco animado***********************/

.marco_1 {
    position: relative;
    width: 100%;
    height: 40vh;
    max-width: 600px;;
    border-radius: 12px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.marco_1::before {
    position: absolute;
    content: "";
    width: 250%;
    height: 250%;
    background-image: conic-gradient(transparent, transparent, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
    animation: rotate_border 4s linear infinite;
    animation-delay: -10s;
}

.marco_1::after {
    position: absolute;
    width: 250%;
    height: 250%;
    content: "";
    background-image: conic-gradient(transparent, transparent, rgb(0, 38, 255), rgb(106, 11, 90), rgb(215, 28, 84));
    animation: rotate_border 4s linear infinite;
    animation-delay: -10s;
}

@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.marco_2 {
    position: absolute;
    content: "";
    background-color: black;
    border-radius: 12px;
    z-index: 2;
    inset: -1px;
    margin: 5px 5px 5px 5px;
    padding: 18px 18px 5px 16px;
    overflow-y:scroll; 
}

.marco_2::-webkit-scrollbar{
    width: 8px;
    background: rgba(128, 128, 128, 0);
}

.marco_2::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.351);
    border-radius: 8px;

}
.marco_2::-webkit-scrollbar-button{
    background-color: rgba(128, 128, 128, 0);

}

.history{
    /*margin-top: 3px;
    margin-bottom: 13px;*/
    text-align: justify;
    font-size: 1rem;
    color: white;
    
}